
.header_logo{
  display: inline;
}
.header_logo img{
  width: 10%;
  margin-top: 10px;
  margin-left: 10px;
}
main{
  color: #808080;
}
.menus{
  float: right;
  list-style:none;
  margin-top: 10px;
}
.menu{
  float: left;
  justify-content: space-between;
  margin-right: 15px;
  margin-top: 10px;
}
.detail{
  position: relative;
  margin-bottom: 30px;
}
.photo img{
  display: block;
  margin-right: 0;
  margin-left: auto;
  width: 60%;
}

.contents_ttl{
  font-family: 'Indie Flower', cursive;
  font-size: 100px;
  color: #CC0066 ;
  position: absolute;
  top: 20%;
  left: 20%;
}
span{
  color: #0099CC;
}
.content{
  color: #CC0066 ;
  left: 20%;
  position: absolute;
  top: 50%;
  font-size: 30px;
}
.contents p{
  display: block;
  color: #666666;
  position: absolute;
  left: 20%;
  top: 55%;
}
.contents{
  left: 20%;
  top: 50%;
}
.news{
  margin: 0 auto;
  width: 50%;
}
.news{
  margin-top: 50px;
  margin-bottom: 100px;
}
.topic_news{
  color: #CC0066 ;
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
} 
.news h2{
  margin: 30px 0;
  font-size: 30px;
}

.group_news{
  border-top: 3px solid #C0C0C0;
  border-bottom: 3px solid #C0C0C0;
}
.news_lists{
  list-style: none;
  margin: 20px;
  border-bottom: solid 1px #C0C0C0;
}
.news_list{
  display: inline;
  font-size: 20px;
  margin: 15px;
}
.news_logo{
  color: white;
  background-color: #CC0066;
  border-radius: 10px;
  padding: 5px 10px;
  display: inline-block;
}

.about{
  margin: 0 auto;
  width: 100%;
 
}
.topic_about{
  color: #CC0066 ;
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}
.title_about{
  margin: 30px 0;
  font-size: 50px;
  text-align: center;
}
.about_area{
  width: 70%;
  display: flex;
  margin: 0 auto;
}
.about_info{
  width: 140%;
}
.about_photo img{
  margin-left: 400px;
  width: 60%;
}
.service{
  margin: 0 auto;
  width: 70%;
  margin-bottom: 150px;
}
.topic_service{
  color: #CC0066 ;
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
}
.title_service{
  font-size: 30px;
  margin: 30px 0;
}
.card{
  width: 100%;
  font-size: 20px;
  display: flex;
  color: white;
}
.block_1{
  background-color: #CC0066;
  width: 50%;
  padding-top: 20px;
}
.blocks{
  width: 50%;

}
.block_2{
  background-color: #C573B2;
  display: flex;
 
  height: 50%;
}
.block_3{
  background-color: #C199C1;
  display: flex;
 
  height: 50%;
}
.lec_img1{
  display: block;
  margin:  0 auto;
  margin-bottom: 30px;
}
.lec_img2, .lec_img3{
  margin: 20px;
}
.service_name{
  font-size: 25px;
}
.service_info_1{
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.lec_img1,.lec_img2,.lec_img3{
  width: 30%;
}
.service_info_2, .service_info_3{
  margin-top: 20px;
  padding-right:20px ;
}
.topic_blog{
  color: #CC0066 ;
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
}
.title_blog{
  font-size: 30px;
  margin: 30px 0;
}
.blog{
  margin: 0 auto;
  width: 70%;
  margin-bottom: 100px;
}
.blog_photo{
  position: relative;
 
}
.back-color{
  background-color: #f5f5f5;
  padding-bottom: 30px;
}
.blog_photo img{
  border-radius: 10px 0px 0px 0px;
  width: 100%;
}
.attachment{
  position: absolute;
  top: 0px;
  background-color: #CC0066;
  padding: 15px;
  font-size: 30px;
  color: white;
  border-radius: 10px 0px 0px 0px;
}
.items{
  display: flex;
  width: 100%;
}
.item_1{
  width: 50%;
  margin-right:15px ;
  background-color: white;
}
.item_2{
  width: 50%;
  margin-right:15px ;
  background-color: white;
}
.item_3{
  width: 50%;
  margin-right:15px ;
  background-color: white;
}
.data{
  display: inline-block;;
}
.tags{
  margin-top: 50px;
  position: relative;
}
.tag{
  display: inline-block;
  position: absolute;
  right: 0;
}
.blog_info{
  padding: 15px;
}
.blog_info h2{
  font-size: 20px;
}
.page{
  margin-top: 50px;
  text-align: center;
}
.page a{
  padding:10px 50px;
  background-color: white;
  border-width:2px;
  border-style:solid;
  border-color: #CC0066;
  border-radius: 20px;
  text-decoration: none;
}
.company{
  margin: 0 auto;
  width: 70%;
  margin-bottom: 50px;
}
.topic_company{
  color: #CC0066 ;
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
}
.title_company{
  font-size: 30px;
  margin: 30px 0;
}
table{
  border-collapse: collapse;
  width: 100%;
  font-size: 20px;
}
table th,table td {
  border: solid 1px;  /* 枠線指定 */
  padding: 30px;      /* 余白指定 */
}
table th{
  background-color: #f5f5f5;
}
.inquiry{
  background-size: cover;
  display: flex;
  margin-bottom: 100px;
}
.recruit img, .interview img{
  width: 100%;
}
.recruit{
  position: relative;
  width: 50%;
}
.interview{
  position: relative;
  width: 50%;

}
.recruit h2, .interview h2{
  position: absolute; 
  font-size: 25px;
  top: 50%;
  color: white;
  display: inline;
  left: 45%;
}
.contact{
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}
.icon_bottom{
  position: relative;
  background-color: #CC0066;
  width: 200px;
  display: block;
  padding: 25px 30px;
  text-align: center;
  color: #fff;
  border-radius: 30px;
  margin: 100px auto;
  box-shadow: 0px 8px 5px 0px #a70054;
}
.icon_bottom::before{
  content: "";
  position: absolute;
  top: 20%;
  left: 15px;
  background: url(../img/img/mailicon.svg) no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
}
footer{
  text-align: center;
}
.footer{
  background-color: #f5f5f5;
  padding: 20px;
}